{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Przewodnik PL{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  
       
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>Welcome, {{ user.username }}!</li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </nav>
   
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>