{% block content %}
<link rel="stylesheet" href="../../static/css/wojw.css">

<body>
<header>
    <div class="user-info">
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}!</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% endif %}
    </div>
</header>
<article>
    <h1>Lubuskie</h1>
    <p>Najważniejsze miasta</p>
    <div class="blocks-container">
        <div class="block">
            <div class="city">
                <p>Zielona Góra</p>
                Zielona Góra to miasto w województwie lubuskim, znane z tradycji winiarskich oraz corocznych Winobrania, które przyciąga turystów z całej Polski. Warto zobaczyć Stare Miasto, Palmiarnię oraz górujący nad miastem Winny Gród, który jest symbolem regionu.
                <img src="../../static/images/miasta/ziel.jpeg" alt="Zielona Góra">
               
            </div>
            <div class="city">
                <p>Palmiarnia Zielonogórska</p>
                Jedno z najbardziej niezwykłych miejsc w mieście, oferujące egzotyczne rośliny, które przyciągają turystów przez cały rok. W palmiarni można podziwiać roślinność z tropików oraz odpocząć w wyjątkowej atmosferze.
                <br><br>  <img src="../../static/images/miejsca/palmz.jpeg" alt="City 2">
               
            </div>
            <div class="city">
                <p>Muzeum Ziemi Lubuskiej </p>
                Miejsce, które pozwala poznać historię regionu, od pradziejów po współczesność. W muzeum znajdują się wystawy archeologiczne, etnograficzne oraz sztuki współczesnej.
                <br><br>   <img src="../../static/images/miejsca/muzez.jpeg" alt="City 3">
               
            </div>
            
        </div>
        <div class="block">
            <div class="city">
                <p>Gorzów Wielkopolskie</p>
                Gorzów Wielkopolski to jedno z większych miast województwa lubuskiego, którego centrum skupia się wokół katedry i malowniczych terenów nad Wartą. Miasto łączy tradycje przemysłowe z nowoczesnym rozwojem, oferując mieszkańcom i turystom wiele atrakcji kulturalnych oraz sportowych, w tym żużel.
                <img src="../../static/images/miasta/gorz.jpeg" alt="Gorzów Wielkopolskie">
               
            </div>
            <div class="city">
                <p>Muzeum Lubuskie </p>
                Miejsce, w którym można zobaczyć ciekawe zbiory dotyczące historii i kultury Gorzowa oraz regionu lubuskiego. Często organizowane są tu wystawy czasowe, koncerty i spotkania artystyczne.
                <br><br>  <img src="../../static/images/miejsca/muzego.jpeg" alt="City 2">
               
            </div>
            <div class="city">
                <p>Park Wiosny Ludów</p>
                Urokliwy park w centrum Gorzowa, idealny na spacery i relaks. Znajduje się tu wiele pomników, alejek i stawów, a wiosną park staje się prawdziwą oazą zieleni.
                <br><br>  <img src="../../static/images/miejsca/parkg.jpeg" alt="City 3">
               
            </div>
         
        </div>
       
        <div class="block">
            <div class="city">
                <p>Świebodzin</p>
                Świebodzin to niewielkie miasto w województwie lubuskim, które słynie z imponującego Pomnika Jezusa Chrystusa, będącego jednym z najwyższych tego typu na świecie. Miasto ma również bogatą historię, z pięknymi zabytkami, takimi jak gotycka bazylika oraz malownicze tereny wokół jeziora.
                <img src="../../static/images/miasta/swie.jpeg" alt="Świebodzin">
               
            </div>
            <div class="city">
                <p>Pomnik Chrystusa Króla</p>
                Jeden z najwyższych pomników Jezusa Chrystusa na świecie, który stoi na wzgórzu z widokiem na miasto. Jest to obowiązkowy punkt dla turystów i wierzących, który przyciąga pielgrzymów z całej Polski.
                <br><br>  <img src="../../static/images/miejsca/pomn.jpeg" alt="City 2">
               
            </div>
            <div class="city">
                <p>Kościół św. Michała Archanioła </p>
                Gotycka świątynia z XIV wieku, która zachwyca swoją architekturą i pięknymi witrażami. To jedno z najstarszych miejsc kultu w regionie.
                <br><br>   <img src="../../static/images/miejsca/kosc.jpeg" alt="City 3">
               
            </div>
            
        </div>
    </div>
   
</article>

</body>
{% endblock %}