{% block content %}
<link rel="stylesheet" href="../../static/css/wojw.css">

<body>
<header>
    <div class="user-info">
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}!</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% endif %}
    </div>
</header>
<article>
    <h1>Wielkopolskie</h1>
    <p>Najważniejsze miasta</p>
    <div class="blocks-container">
        <div class="block">
            <div class="city">
                <p>Poznań</p>
                Poznań to jedno z najstarszych i najważniejszych miast w Polsce, znane z Ostrowa Tumskiego i katedry, gdzie spoczywają pierwsi władcy Polski. Symbolem miasta są koziołki na Ratuszu oraz słynne rogale świętomarcińskie, które są tradycyjnym przysmakiem.
                <img src="../../static/images/miasta/pozn.jpeg" alt="Poznan">
               
            </div>
            <div class="city">
                <p>Stary rynek i ratusz</p>
               Serce miasta z pięknymi kamienicami i renesansowym ratuszem. Codziennie o 12:00 na wieży ratusza pojawiają się słynne koziołki.
                <br><br>  <img src="../../static/images/miejsca/ratu.jpeg" alt="City 2">
               
            </div>
            <div class="city">
                <p>Ostrów Tumski</p>
                Najstarsza część Poznania, gdzie znajduje się katedra św. Piotra i Pawła. To tu Mieszko I przyjął chrzest, co czyni to miejsce kolebką polskiej państwowości.
                <br><br>   <img src="../../static/images/miejsca/ostr.jpeg" alt="City 3">
               
            </div>
            <div class="city">
                <p>Palmiarnia Poznańska</p>
                Jedna z największych palmiarni w Europie, z egzotycznymi roślinami i akwariami. To świetne miejsce na spacer wśród tropikalnej roślinności.
                <br><br>   <img src="../../static/images/miejsca/palm.jpeg" alt="City 4">
              
            </div>
        </div>
        <div class="block">
            <div class="city">
                <p>Kalisz</p>
                Kalisz to najstarsze miasto w Polsce, często nazywane kolebką polskiej państwowości. Słynie z zabytkowej katedry św. Mikołaja oraz bogatej historii związanej ze Szlakiem Bursztynowym.
                <img src="../../static/images/miasta/kali.jpeg" alt="kalisz">
               
            </div>
            <div class="city">
                <p>Bazylika św.Józefa</p>
                Ważne miejsce pielgrzymkowe i barokowa perła Kalisza. Wewnątrz znajduje się słynny obraz św. Rodziny, otoczony kultem od XVII wieku.
                <br><br>  <img src="../../static/images/miejsca/joze.jpg" alt="City 2">
               
            </div>
            <div class="city">
                <p>Park miejski</p>
                Jeden z najstarszych parków miejskich w Polsce, założony w XIX wieku. Znajdują się tu malownicze stawy, mostki i różnorodne gatunki drzew.
                <br><br>  <img src="../../static/images/miejsca/parkk.jpeg" alt="City 3">
               
            </div>
            <div class="city">
                <p>  Rezerwat Archeologiczny na Zawodziu</p>
              Odtworzona wczesnośredniowieczna osada Kalisza. Można tu zobaczyć dawne chaty, umocnienia i poznać historię regionu.
                <br><br>  <img src="../../static/images/miejsca/reze.jpeg" alt="City 4">
               
            </div>
        </div>
        <div class="block">
            <div class="city">
                <p>Gniezno</p>
                Gniezno to pierwsza stolica Polski i miejsce koronacji pierwszych królów. Najważniejszym zabytkiem jest Katedra Gnieźnieńska, gdzie znajdują się słynne Drzwi Gnieźnieńskie przedstawiające życie św. Wojciecha.
                <img src="../../static/images/miasta/gnie.jpeg" alt="Gniezno">
               
            </div>
            <div class="city">
                <p>Katedra Gnieźnieńska</p>
                Miejsce koronacji pierwszych królów Polski. Słynie z Drzwi Gnieźnieńskich, unikalnego zabytku sztuki romańskiej przedstawiającego sceny z życia św. Wojciecha.
                <br><br> <img src="../../static/images/miejsca/kateg.jpeg" alt="City 2">
               
            </div>
            <div class="city">
                <p>Muzeum Początków Państwa Polskiego</p>
                Nowoczesna ekspozycja pokazująca historię pierwszych Piastów. Można tu zobaczyć makiety, filmy i liczne artefakty z epoki wczesnego średniowiecza.
                <br><br>  <img src="../../static/images/miejsca/muzeg.jpeg" alt="City 3">
               
            </div>
            <div class="city">
                <p>Jezioro Jelonek i Park Piastowski</p>
                Zielona oaza spokoju w sercu miasta. Idealne miejsce na spacer z widokiem na katedrę i rekreację nad wodą.
                <br><br> <img src="../../static/images/miejsca/jezig.jpeg" alt="City 4">
               
            </div>
        </div>
    </div>
   
</article>

</body>
{% endblock %}